<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %> <!-- 商品名を表示 -->
    </h2>
    <div class="item-img-content">
      <%= image_tag(@item.image.attached? ? url_for(@item.image) : "item-sample.png", class: "item-box-img") %> <!-- 商品画像を表示 -->
      
      <% if @item.sold_out? %>
        <div class="sold-out">
          <span><%= t('items.show.sold_out') %></span> <!-- i18n対応のためtメソッドを使用 -->
        </div>
      <% end %> <!-- 商品が売れている場合は、sold outを表示 -->
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= number_to_currency(@item.price, unit: "¥", format: "%n", delimiter: ",") %> <!-- 商品価格を表示 -->
      </span>
      <span class="item-postage">
        <%= @item.shipping_fee.name %> <!-- 配送料負担を表示 -->
      </span>
    </div>

    <% if user_signed_in? && current_user == @item.user %> <!-- 出品者の場合 -->
      <%= link_to t('items.show.edit'), edit_item_path(@item), class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to t('items.show.delete'), item_path(@item), method: :delete, data: { confirm: t('items.show.confirm_delete') }, class: "item-destroy" %>
    <% elsif user_signed_in? && !@item.sold_out? %> <!-- 購入画面に進むボタンを表示 -->
      <%= link_to t('items.show.purchase'), new_order_path(@item), class: "item-red-btn" %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.text %></span> <!-- 商品説明を表示 -->
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item"><%= t('items.show.seller') %></th>
          <td class="detail-value"><%= @item.user.nickname %></td> <!-- 出品者名を表示 -->
        </tr>
        <tr>
          <th class="detail-item"><%= t('items.show.category') %></th>
          <td class="detail-value"><%= @item.category.name %></td> <!-- カテゴリー名を表示 -->
        </tr>
        <tr>
          <th class="detail-item"><%= t('items.show.condition') %></th>
          <td class="detail-value"><%= @item.condition.name %></td> <!-- 商品の状態を表示 -->
        </tr>
        <tr>
          <th class="detail-item"><%= t('items.show.shipping_fee') %></th>
          <td class="detail-value"><%= @item.shipping_fee.name %></td> <!-- 発送料の負担を表示 -->
        </tr>
        <tr>
          <th class="detail-item"><%= t('items.show.prefecture') %></th>
          <td class="detail-value"><%= @item.prefecture.name %></td> <!-- 発送元の地域を表示 -->
        </tr>
        <tr>
          <th class="detail-item"><%= t('items.show.delivery_time') %></th>
          <td class="detail-value"><%= @item.delivery_time.name %></td> <!-- 発送日の目安を表示 -->
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span><%= t('items.show.favorite') %> 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span><%= t('items.show.report') %></span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        <%= t('items.show.comment_warn') %>
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span><%= t('items.show.comment') %><span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ <%= t('items.show.prev_item') %>
    </a>
    <a href="#" class="change-item-btn">
      <%= t('items.show.next_item') %> ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %><%= t('items.show.more_items') %></a>
</div>

<%= render "shared/footer" %>